body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}
.form-group {
    margin-bottom: 40px;
    outline: 0px;
    color: #6C6C6C;
}
.form-control{
    
    border-bottom: 2px solid #0DB8DE;
    background-color: #1A2226;
    color: white;
    border-top: none;
    
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    background-color: #1A2226;
    color: #ECF0F5;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#container{
    margin-top: 2%; 
    background-color: #1A2226;
}

#ImageUpload{
   width: 40%;
}
  
.control{
    padding-bottom: 1%;
    
}

#full_blog{
    border-bottom: 2px solid #0DB8DE;
}